* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url(./Gilroy-ExtraBold.woff2) format('woff2');
}

body {
  font-family: 'Gilroy-ExtraBold';
  font-size: 1.2rem;
  color: #222432;
  height: 100%;
  margin: 5%;
}

h1 {
  text-align: center;
}

.grid-container > * {
  padding: 10px;
}

.header {
  grid-area: header;
  text-align: left;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
  height: 100%;
}

.image1 {
  grid-area: image1;
}

.image2 {
  grid-area: image2;
}

.image3 {
  grid-area: image3;
}

.text1 {
  grid-area: text1;
}

.text2 {
  grid-area: text2;
}

.text3 {
  grid-area: text3;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 200px
    "section1" auto
    "section2" 300px;
}
.section1 {
  display: grid;
  gap: 10px;
  grid-template:
    "image1" 100px
    "text1" auto
    "image2" 100px
    "text2" auto
    "image3" 100px
    "text3" auto;
}

img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

.section2 > img{
  width: 400px;
  height: auto;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  ." 20%
      "section1  section2" 70% /
      50% 50%;
  }

  body {
    margin: 5%;
  }

  .section1 {
    grid-template:
      "image1 text1" 33%
      "image2 text2" 33%
      "image3 text3" 33% /
      30% 60%;
    align-items: center;
  }

  .section2 {
    padding: 5% 10%;
  }

  .text1 {
    padding: 20% 0;
  }
  
  .text2 {
    padding: 20% 0;
  }
  
  .text3 {
    padding: 20% 0;
  }

  img {
    width: 150px;
    height: auto;
  }

  .section2 > img{
    width: 600px;
    height: auto;
  }

}